HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
ENUM_VISUAL_GUIDE.md
PAYMENT_API_SUMMARY.md
STARTUP_ERROR_FIXES.md
README.md
ENUM_QUICK_REFERENCE.md
PAYMENT_API_QUICK_START.txt
README_ENUM_DOCS.md
STATUS_ENUM_CHECKLIST.md
HELP.md
PAYMENT_API_SPECIFICATION.md
.gitignore
FRONTEND_PAYMENT_INTEGRATION_GUIDE.md
BEFORE_AFTER_COMPARISON.md
COMPILATION_FIXES.md
COMPLETE_IMPLEMENTATION_GUIDE.md
ENUM_IMPLEMENTATION_SUMMARY.md
ENUM_PACKAGE_SUMMARY.md
zentro.iml

### VS Code ###
.vscode/
